.cropcircle{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    border:5px solid #3f464d;
    cursor: pointer;
}

#heading{
    background-image: url('https://images.ctfassets.net/djvnrwoma4or/6hpauxn4swEi6kII2Q4QUu/bcaa7eb55d38f8ed4ef7cd6cc67af015/placeholder.jpg?h=250');
}
.iconRowContainer {
    width:40%;
    min-width: 300px;
}
.iconRow {
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.iconRow a{
    text-decoration: none;
}

.headerStyle {
    display: flex;
    flex-direction:column;
    background-image: linear-gradient(rgb(229, 245, 250), rgb(255,255,255));
}

.marginAuto {
    margin: auto;
}

.padTop {
    padding-top: 15px;
}

.linkStyle {
    cursor: pointer;
    padding: 10px;
}

