.cropcircle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    border:5px solid #3f464d;
}

#heading{
    background-image: url('../../img/placeholder.jpg');
}
.iconRowContainer {
    width:40%;
    min-width: 300px;
}
.iconRow {
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.iconRow a{
    text-decoration: none;
}

.headerStyle {
    display: flex;
    flex-direction:column;
    background-image: linear-gradient(rgb(229, 245, 250), rgb(255,255,255));
}

.marginAuto {
    margin: auto;
}

.padTop {
    padding-top: 15px;
}
